In [18]:
import pandas as pd

a=pd.read_csv("C:/Users/user/Desktop/資料探勘作業一/鮑魚年齡.csv",sep='\t')
                 
a

,Sex,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.1500,15
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.0700,7
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.2100,9
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.1550,10
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.0550,7
...,...,...,...,...,...,...,...,...,...
4172,F,0.565,0.450,0.165,0.8870,0.3700,0.2390,0.2490,11
4173,M,0.590,0.440,0.135,0.9660,0.4390,0.2145,0.2605,10
4174,M,0.600,0.475,0.205,1.1760,0.5255,0.2875,0.3080,9
4175,F,0.625,0.485,0.150,1.0945,0.5310,0.2610,0.2960,10
4176,M,0.710,0.555,0.195,1.9485,0.9455,0.3765,0.4950,12

In [19]:
from sklearn.preprocessing  import LabelEncoder

le=LabelEncoder()


a['Sex']=le.fit_transform(a['Sex'])
a

,Sex,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings
0,2,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.1500,15
1,2,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.0700,7
2,0,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.2100,9
3,2,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.1550,10
4,1,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.0550,7
...,...,...,...,...,...,...,...,...,...
4172,0,0.565,0.450,0.165,0.8870,0.3700,0.2390,0.2490,11
4173,2,0.590,0.440,0.135,0.9660,0.4390,0.2145,0.2605,10
4174,2,0.600,0.475,0.205,1.1760,0.5255,0.2875,0.3080,9
4175,0,0.625,0.485,0.150,1.0945,0.5310,0.2610,0.2960,10
4176,2,0.710,0.555,0.195,1.9485,0.9455,0.3765,0.4950,12

In [20]:
x=a.drop(['Rings'],axis=1)
x

,Sex,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight
0,2,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.1500
1,2,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.0700
2,0,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.2100
3,2,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.1550
4,1,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.0550
...,...,...,...,...,...,...,...,...
4172,0,0.565,0.450,0.165,0.8870,0.3700,0.2390,0.2490
4173,2,0.590,0.440,0.135,0.9660,0.4390,0.2145,0.2605
4174,2,0.600,0.475,0.205,1.1760,0.5255,0.2875,0.3080
4175,0,0.625,0.485,0.150,1.0945,0.5310,0.2610,0.2960
4176,2,0.710,0.555,0.195,1.9485,0.9455,0.3765,0.4950

In [21]:
y=a[['Rings']]

y

      Rings
0        15
1         7
2         9
3        10
4         7
...     ...
4172     11
4173     10
4174      9
4175     10
4176     12

[4177 rows x 1 columns]

In [22]:
from sklearn import tree 
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,shuffle=True)

clf = tree.DecisionTreeClassifier()
clf = clf.fit(x_train, y_train)

In [23]:
predict_value = clf.predict(x_test)

predict_value

array([11,  9, 10,  8,  7,  9,  8, 10,  7,  9,  9,  9, 10,  8, 12,  6,  8,
       11, 17, 10, 10, 12,  5, 10, 11,  8, 10, 15,  6, 14, 12, 10, 11, 13,
        8,  6,  9, 10,  6, 20, 10, 12, 11, 12, 15,  5, 17, 12, 17,  7,  8,
       11,  9, 12,  9, 10, 10,  9, 10, 10, 13,  7,  8, 10, 11,  9,  9, 12,
       13, 10,  3, 10, 11,  9, 11,  7, 15,  9, 13,  8, 10, 10, 15,  9,  7,
        9, 10, 10, 10,  7, 12, 10,  8, 10,  7, 16, 11,  8,  8, 17,  8, 17,
       23, 11, 11, 12,  7,  9, 10, 10,  9, 10, 11,  9, 27,  9,  8, 10, 11,
       13, 23,  5,  9,  6, 14,  7,  8,  5,  6, 11, 11,  8, 10, 10,  8,  6,
        7, 23,  8,  7, 10,  9,  5,  9, 11, 10,  8, 14, 10, 10,  7,  9,  8,
        8,  9,  8, 10,  9,  8,  7,  8,  7,  9,  8, 20,  9,  8, 12, 16, 13,
        9, 10,  7,  7,  8, 20, 10, 17,  5, 10, 13, 18, 12,  9, 10, 10,  4,
        9,  7,  6,  8, 10,  8,  7,  8,  7,  7, 13,  7, 12, 10, 12,  9, 11,
       11,  6, 12, 10,  7,  9,  9,  7,  8, 18,  9, 14,  8, 10,  5, 14,  8,
        8, 10,  9, 17, 14,  5,  5,  6,  7, 17,  8, 10,  6, 10, 13, 17, 11,
       10,  7, 13, 23, 10, 12, 10, 14,  9, 10, 13, 10,  7,  8,  7, 10, 10,
        9,  7,  5, 12, 14, 10,  9,  8,  9, 19,  9, 10, 17, 12,  6,  8,  7,
       13,  7,  9, 15, 10,  7, 14, 11, 11, 10, 18, 12,  6, 10,  4,  6, 10,
       11, 10,  9, 11,  8, 10,  9, 10, 15,  9,  9,  9,  9,  6,  6, 13,  7,
        8, 18, 11, 11,  8,  9, 17,  7, 12, 15, 12,  5, 19, 13, 11,  9, 10,
        9, 11,  9,  4,  6, 10,  6,  9,  6,  6,  9, 10,  9,  7, 16,  6, 16,
        5,  8,  9,  5,  9,  7,  9, 10, 10, 11, 10, 13,  7, 10, 12,  9,  6,
       23,  9,  8, 10,  7,  9, 12,  6, 16,  9, 15, 12, 15,  9, 12, 12,  7,
        9, 14, 14,  9, 10, 11,  8,  6, 21, 16, 10, 11, 11, 10, 14,  7, 23,
        9,  8,  9,  9, 21,  6,  7, 11,  7,  8,  7,  7,  7,  9,  9,  8,  8,
        8, 14, 10,  8,  8, 11,  9, 18, 11, 12,  8, 20, 12, 12,  9,  9,  5,
        9, 13,  9,  7, 15, 17, 19,  6,  9, 11,  9,  9,  8, 10, 10,  8,  9,
       10,  6, 10, 15, 10, 10, 12,  8, 14, 10,  9,  9,  9, 11, 11, 12,  7,
       10,  9, 13,  4,  8,  9, 10, 13, 11,  6, 10,  7, 12,  8, 10,  9, 19,
       10, 16, 10, 11,  9, 15,  7, 17,  7, 10, 11, 16, 14, 15,  7, 10, 12,
       11, 10, 17, 13, 13, 10, 12, 10, 10,  9,  5,  6, 14, 13, 10,  9, 11,
        6,  9,  9,  9, 15, 12,  5,  7,  8,  6, 10,  7, 13, 18, 10, 10,  7,
        9, 18,  9,  3, 10, 10, 11, 11,  6, 14, 19,  9,  9, 15, 10,  8,  9,
       10,  7, 13,  9, 10,  9, 11, 17, 11,  8,  8, 17,  9,  7, 23, 10,  9,
       13, 10, 13,  7, 18,  7, 13,  9,  9, 12,  6, 11,  8,  9,  7,  7,  7,
        7, 12,  7,  7, 13, 10, 11,  9, 10, 11, 10,  7, 11, 10, 15, 10, 10,
       10, 11,  7, 10,  9, 11,  8,  8, 16, 13, 10, 11,  8,  8, 11, 11, 16,
       10, 12,  8,  8, 10, 11,  7,  9,  9,  7, 10, 11, 11, 16, 18,  7,  8,
        7,  6, 16,  6, 11, 12, 10, 14,  7,  6,  6, 20, 11,  9, 18,  9,  7,
       10, 17,  7, 11,  9,  5,  9, 10, 18,  9,  8, 19,  9,  6, 10,  7,  7,
       10,  9,  9, 11,  8, 10,  7, 11,  6, 10,  9,  9, 19, 12, 11, 11,  7,
        6,  8,  7, 15, 10, 18,  9,  6,  7,  9, 12,  6,  6, 10, 10,  6, 10,
       11, 10, 17, 12, 14, 12, 12,  7,  4,  8,  8,  8, 13,  8, 13,  5, 11,
       16, 11,  9, 11, 10,  8, 18,  6,  7, 11, 11,  8,  9, 16,  6, 11,  7,
        9, 10, 12,  7,  5, 10,  7, 13,  9,  8, 10,  8,  9, 10, 11,  9, 16,
       14,  9,  6,  9, 13, 19,  9, 10, 14, 14,  8, 15, 10,  7,  9, 11, 10,
        8,  3,  8,  7, 14,  8, 12, 10,  8, 10, 11,  9, 10,  6,  9,  8,  9,
       14,  5, 10,  9, 11, 10, 19,  7,  9, 11,  9,  7,  7,  6,  6,  8,  9,
        8,  7,  8, 14, 13, 21, 11, 15, 12, 17,  9, 11, 22,  9,  9,  7,  8,
        7,  7, 16,  9,  7,  9,  9, 14, 13,  7, 14,  9,  9,  7,  7, 11,  8,
        5, 12, 10], dtype=int64)